<ol>
{% for pub in include.source %}
    {% if pub.data.parentItem %}
        {% continue %}
    {% endif %}
<li><span style="font-variant:small-caps">{{ pub.data.title }}</span>
    {% if pub.data.DOI.size > 0 or pub.data.libraryCatalog=="arXiv.org" %} 
        [ {% if pub.data.DOI.size > 0 %} <a href="https://doi.org/{{ pub.data.DOI }}" >DOI</a> {% endif %}
        {% if pub.data.archive=="arXiv.org" or pub.data.archive=="arXiv" %} |
            {% if pub.data.archiveLocation!=''%} <a href="{{
            pub.data.archiveLocation }}">arXiv</a> {% endif %}
        {% elsif pub.data.extra contains "arxiv:" %} | <a href='{{ pub.data.extra | replace: "arxiv:", "" }}'>arXiv</a>
        {% endif %} ]
        
    {% endif %}<br/>
    {% if pub.data.creators.size > 0 %} <span id='lines' style='margin-left:0em'>
        with {% for creator in pub.data.creators %} 
            {{ creator.firstName }} {{ creator.lastName }}{% unless forloop.last %}, {% endunless -%}{% if forloop.rindex0==1 %} and {% endif %}
            {% endfor %}</span> <br/>
    {% endif %} 
    {% if pub.data.itemType=="journalArticle" %}
    <span id='lines' style='margin-left:0em'> <b> {{ pub.data.publicationTitle }}</b> 
    {% if pub.data.volume!='' %} vol. {{ pub.data.volume!='' }} 
        {% if pub.data.issue!='' %} ({{pub.data.issue}}) 
         {% if pub.data.pages!='' %}, {{ pub.data.pages }} 
         {% endif %} 
        {% endif %} 
    {% endif %} 
    {% endif %}
    {% if pub.data.itemType=="conferencePaper" %}
        <span id='lines' style='margin-left:0em'> <b> {{ pub.data.proceedingsTitle }}</b>, {% if pub.data.pages %} {{ pub.data.pages }} {% endif %} {% endif %} ({{ pub.data.date | slice: 0, 4 }})
    </span>
    </li>
{% endfor %}
</ol>
