<ol class="pub-list">
{% for pub in include.source %}
  {% if pub.data.parentItem %} {% continue %}
  {% endif %}
  <li>
    <div class="pub-title">{{ pub.data.title }}{% if pub.data.DOI.size > 0 or pub.data.archive == "arXiv.org" or pub.data.archive == "arXiv" or pub.data.archive == "arxiv" or pub.data.extra contains "arxiv:" %}<span class="pub-links">{% if pub.data.DOI.size > 0 %}<a class="pub-link doi" href="https://doi.org/{{ pub.data.DOI }}">DOI</a>{% endif %}{% if pub.data.archive == "arXiv.org" or pub.data.archive == "arXiv" or pub.data.archive == "arxiv" %}{% if pub.data.archiveLocation != '' %}<a class="pub-link arxiv" href="{{ pub.data.archiveLocation }}">arXiv</a>{% endif %}{% elsif pub.data.extra contains "arxiv:" %}<a class="pub-link arxiv" href="{{ pub.data.extra | replace: "arxiv:", "" }}">arXiv</a>{% endif %}</span>{% endif %}{% if pub.data.extra contains "pdf:" %}<a class="pub-link pdf" href="{{ pub.data.extra | replace: "pdf:",""}}">pdf</a></div>

    {% if pub.data.creators.size > 0 %}
    <div class="pub-authors">{% for creator in pub.data.creators %}{{ creator.firstName }} {{ creator.lastName }}{% unless forloop.last %}{% if pub.data.creators.size > 2 %}, {% endif %}{% endunless %}{% if forloop.rindex0 == 1 %} and {% endif %}{% endfor %}</div>
    {% endif %}

    {% if pub.data.itemType == "journalArticle" %}
    <div class="pub-venue">
      <span class="pub-venue-name">{{ pub.data.publicationTitle }}</span>{% if pub.data.volume != '' %}, vol.&nbsp;{{ pub.data.volume }}{% if pub.data.issue != '' %}&nbsp;({{ pub.data.issue }}){% endif %}{% if pub.data.pages != '' %}, pp.&nbsp;{{ pub.data.pages }}{% endif %}{% endif %} ({{ pub.data.date | slice: 0, 4 }})
    </div>
    {% endif %}

    {% if pub.data.itemType == "conferencePaper" %}
    <div class="pub-venue">
      <span class="pub-venue-name">{{ pub.data.proceedingsTitle }}</span>{% if pub.data.conferenceName != '' %}, {{ pub.data.conferenceName }}{% endif %}{% if pub.data.series != '' %}, <em>{{ pub.data.series }}</em>{% endif %}{% if pub.data.volume %}, vol.&nbsp;{{ pub.data.volume }}{% endif %}{% if pub.data.pages %}, pp.&nbsp;{{ pub.data.pages }}{% endif %} ({{ pub.data.date | slice: 0, 4 }})
    </div>
    {% endif %}
  </li>
{% endfor %}
</ol>
